node_modules
.DS_Store
dist
dist-ssr
*.local
stats.html
coverage
yarn-error.log
.tmp

# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
